/* Блок с Меню*/
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    padding: 93px 50px 95px;
}
.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}
.header__link {
    font-size: 18px;
}
.header__link_active {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    text-decoration: none;
} 
.header__links-list-item {
    text-transform: lowercase;
}   
.header__links-list-item_no-bullit {
    list-style-type: none;
}

/* Блок с лого*/
.header__logo {
    display: block;
    width: 136px;
    height: 105px;
}

/*Блок адрес*/
.address {
    justify-self: end;
    max-width: 241px;
    font-style: normal;
    line-height: 24px;
}
.addres_list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.addres_list-item_link {
    font-size: 18px;
    text-decoration: none;
}
.addres_list-item_link-active {
    border-bottom:  1px solid rgba(0, 0, 0, 1);
    text-transform: lowercase;
}

/* Блок ковер*/
.cover {
    position: relative;
    min-height:757px;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Блок оверлей*/
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

/*Блок с ОНО*/
.aligned-text {
    display: block;
}
.cover__title {
    position: relative;
    z-index: 2;
    padding: 165px 17px 0px 50px;
    color: white;
    font-weight: 700;
    font-size: 100px;
    line-height: 117px;
    letter-spacing: 30px;
    text-transform: uppercase;
}
.aligned-text_left {
    text-align: left;
}
.aligned-text_center {
    display: block;
    padding-top: 17px;
    padding-right: 4px;
    text-align: center;
}
.aligned-text_right {
    display: block;
    padding-top: 18px;
    padding-right: 34px;
    text-align: right;
}
.aligned-text_last-letter {
    letter-spacing: normal;
}

/*Надпись и кнопка*/
.description {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 105px;
    padding: 108px 49px 40px;
    color: white;
}
.letter-spacing-extended {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    word-spacing: 18px;
}
.bet-button {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 11px 33px;
    background-color: transparent;
}
.cover__description-text {
    color: white;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}

/*Лоты*/
.lots {
    margin-top: 179px;
    margin-right: 20px;
    margin-left: 24px;
}
.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 21px ;
}
.lots__heading {
    padding-bottom: 28px;
    padding-left: 41px;
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    text-transform: uppercase;
}
.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    list-style-type: none;
    background-position: center;
    background-size: cover;
}
.lots__card-list-item-image_people {
    background-image: url("../images/card-lot-01.jpg");
}
.lots__card-list-item-image_book {
    background-image: url("../images/card-lot-02.jpg");
}
.lots__card-list-item-image_painting {
    background-image: url("../images/card-lot-03.jpg");
}
.card-link {
    height: 100%;
    text-decoration: none;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.card__title {
   z-index: 3;
   padding: 48px 40px 0 ;
   color: white;
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   text-align: left;
   text-decoration-line: underline;
   text-transform: uppercase;
}
.card__text {
    z-index: 3;
   padding: 0 40px 48px;
   color: white;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-align: left;
}
.lots__look-more-link {
    display: block;
    width: fit-content;
    margin-top: 30px;
    margin-left: 41px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
}

.lots__look-more-link_text {
    width: fit-content;
    border-bottom:  1px solid rgba(0, 0, 0, 1);
    text-transform: lowercase;
}

/*Блок  об аукционе*/
.about {
    margin: 120px 24px 0;
}
.about__column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    list-style-type: none;
}
.about__logo {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-right: 21px;
}
.about__logo-image-black {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: black;
}
.about__logo-image {
    width: 148px;
    height: 114px;
    background-image: url("../images/logo-white.svg");
    background-repeat: no-repeat;
}
.about__title {
    padding-top: 136px;
    padding-bottom: 104px;
    padding-left: 7px;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
}
.about__text {
    display: grid;
    gap: 24px;
    padding-right: 6px;
    padding-left: 7px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}

/*Блок футер*/
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    
    margin-top: 180px;
    padding: 0 50px 82px;
}
.footer__menu-list {
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    text-transform: lowercase;
    list-style-type: none;
}
.footer__menu-link_active {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    text-decoration: none;
}
.address-new-place {
    justify-self: start;
}
.footer__social-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: end;
    gap: 48px;
    list-style-type: none;
}
.footer__social-icon {
    width: 48px;
    height: 48px;
}